<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SnapPost</title>
    <link rel="icon" type="image/x-icon" , href="/Assets/image.png" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body></body>
</html>
